.skills {
  height: 54px;
  max-width: 455px;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  color: #fe3b1f;
  cursor: pointer;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}
.skills button {
  color: #fe3b1f;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}
.skillList {
  height: 54px;
  max-width: 455px;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  align-items: center;
}
.skillList p{
  margin-top: 15px;
}
.userSkillsDiv {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 56px;
}
.listRemover {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  color: #fe3b1f;
  cursor: pointer;
}
.addSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 201px;
  height: 32px;
  border: none;
  background: #fe3b1f;
  color: antiquewhite;
  cursor: pointer;
}
.mainSection {
  width: 80%;
  max-width: 455px;
}
.experience {
  width: 100% !important;
}
.wrap{
  box-shadow: 0px 3px 10px rgb(68, 68, 68);
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  z-index: 500;
  width: 80%;
  background-color: white;
  max-width: 455px !important;
}
.items {
  display: flex;
  height: 40px;
  max-width: 455px !important;
  width: 100%;
  border-top: none;
  text-align: start;
}
.items button{
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: start;
  padding-left: 10px;
  font-weight: 500;
  font-size: 1.4rem;
}
.items button:hover{
  background-color: rgb(255, 147, 128);
}
.animateBtn{
  transform: rotatez(180deg);
  transition: 300ms;
  pointer-events: none;
  user-select: none;
}
.reverseBtn{
  transform: rotatez(0deg);
  transition: 300ms;
  pointer-events: none;
  user-select: none;
}
.removeBtn{
  width: 100%;
  height: 100%;
  margin-bottom: 13px;
}
.listRemover:hover {
  background: #ffafa3;
  transition: 300ms;
}

@media only screen and (max-width: 600px) {
  .addSkill {
    padding: 2rem;
  }
}