.mainSection {
  display: flex;
  width: 80%;
  text-align: left;
  flex-direction: column;
  align-items: center;
}
.radioDiv {
  display: flex;
  max-width: 535px;
  flex-direction: column;
  width: 100%;
}
.radioInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.radioInput input {
  margin: 0;
}
.textAreaAbout {
  resize: none;
  max-width: 535px;
  height: 122px;
  padding: 2rem;
  margin-top: 15px;
  width: 100%;
}
.textAreaSpecial {
  resize: none;
  max-width: 535px;
  height: 96px;
  padding: 2rem;
  margin-top: 15px;
  width: 100%;
}
.label {
  margin-top: 30px;
  display: flex;
  max-width: 535px;
  flex-direction: column;
  width: 100%;
}
